.alert {
	@include margin-b();
	@include padding-x-lg();
	@include padding-y();
	display: block;

	$alertTypes: 'error', 'warning', 'success', 'info';
	@each $type in $alertTypes {
		&--#{$type} {
			background: rgba(palette(alerts, #{$type}), .20);
		}
	}

	*:last-child {
		@include no-margin();
	}

}
