.header {
	@include padding();
	background: #fff;
	border-top: 5px solid palette(primary, a);
	position: relative;

	@include bp(tab-l) {
		@include no-padding();
		@include padding-y-lg();
	}

	&__wrap {

		@include bp(tab-l) {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

	}

}
