@mixin columns($cols: 1, $bp: tab-l) {

	@include bp($bp) {
		-moz-column-gap: $spacing;
		-webkit-column-gap: $spacing;
		column-gap: $spacing;
		-moz-column-count: #{$cols};
		-webkit-column-count: #{$cols};
		column-count: #{$cols};
	}

}
