.promo {

	&__wrap {
		margin-top: -40px;

		@include bp(tab-l) {
			display: flex;
		}

	}

	&-item {
		@include border-radius();
		@include box-shadow();
		background: #fff;
		flex: 1;

		@include bp(tab-l) {
			@include margin-r-xlg();

			&:last-of-type {
				margin-right: 0;
			}

		}


		&__img {
			height: auto;
			width: 100%;
		}

		&__heading {
			@include padding-b();
			@include strong();
			font-size: rem($base-font-size * 1.2);
			position: relative;

			&:after {
				@include position-bl();
				content: '';
				background: palette(primary, b);
				display: inline-block;
				height: 2px;
				width: 15%;
			}

		}

		&__content {
			@include margin-b();
			@include padding-lg();
		}

		&__cta {
			@include margin-t();
			display: inline-block;
		}

	}

}
